@import "style";


main {
    font-family: $paragraphFont;
    max-width: 500px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}

form {
    position: relative;
    // align-items: center;
    img {
        width: 6vw;
        height: auto;
        display: block;
        margin:auto;
    }

    #fileUpload {
        display: none;
    }

    fieldset {
        padding: 1.5rem;
        margin-bottom: 1rem;
        .ingredient, .utensil {
            border: solid 0.1vw;
            display: grid;
            grid-template-columns: 5% 90% 5%;
            input {
                border: none;
            }
        }
        .step {
            border: solid 0.1vw;
            display: grid;
            grid-template-columns: 5% 5% 85% 5%;
            margin: 2vw 0;
            input {
                border: none;
            }
        }
        .bars {
            width: 2vw;
            height: 2vw;
            padding: 1vw;
        }
        .remove {
            width: 2.5vw;
            height: 2.5vw;
            padding: 1vw;
        }

        .removeHidden {
            display: none;
        }

    }
    input[type="button"], input[type="submit"] {
        background-color: $ctaColor;
        padding: 0.5vw 2vw;
        border: $ctaColor solid 0.1vw;
        border-radius: 0.5vw;
        cursor: pointer;
        color: $whiteSpace;
    }

    input[type="submit"] {
        display: block;
        margin:auto;
    }
}