@import "style";


main {
    font-family: $paragraphFont;
    max-width: 500px;
    margin: 0 auto;
    h1 {
        text-align: center;
        font-size: $phoneH1;
        margin-bottom: 4vw;
    }

    img {
        fill: $primaryColor;
    }
}

form {
    position: relative;

    p {
        text-align: center;
    }

    fieldset:nth-child(2) {
        input:first-child, textarea {
            width: 100%;
            margin-bottom: 1vw;
        }
        div {
            display: flex;
            input, label {
                width: 50%;
                margin-bottom: 1vw;
            }
            
        }
    }

    fieldset {
        padding: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 0.5vw;
        border: solid 1px $primaryColor;

        input {
            padding: 1vw 0;
        }

        input, input[type="text"], textarea, select, option {
            font-size: $iphoneP;
            border-radius: 0.2vw;
            border: solid 1px $primaryColor;
        }

        p {
            font-size: $iphoneP*1.5;
            padding: 1.1vw 1vw;
        }
    
        select {
            margin-bottom: 1vw;
        }
    
        label {
            font-size: $iphoneP;
            font-weight: 900;
        }

        img {
            width: $iphoneP*5;
            height: auto;
            display: block;
            margin:auto;
        }

        .imgStep {
            width: $iphoneP*3;
        }
    
        #fileUpload {
            display: none;
        }

        .ingredient, .utensil, .step {
            display: flex;
            margin-bottom: 1vw;
            border-radius: 0.5vw;
            border: solid 1px $primaryColor;
            input {
                border: none;
                width: 100%;
            }
        }

        .bars, .remove {
            width: $iphoneP*1.5;
            height: $iphoneP*1.5;
            padding: 1.5vw 1vw;
        }
        div > .removeHidden {
            display: none;
        }

        #tagList {
            display: flex;
            flex-wrap: wrap;
            .tag {
                background-color: $fillColor;
                padding: 0.5vw 1vw;
                border: $fillColor solid 0.1vw;
                border-radius: 0.5vw;
                cursor: pointer;
                color: $textColor;
                margin: 0.5vw 1vw;
            }
        }

    }
    input[type="button"], input[type="submit"] {
        background-color: $ctaColor;
        padding: 0.5vw 2vw;
        border: $ctaColor solid 0.1vw;
        border-radius: 0.5vw;
        cursor: pointer;
        color: $whiteSpace;
        display: block;
        margin: auto;
        font-size: $iphoneP;
    }

    input[type="submit"] {
        display: block;
        margin:auto;
        margin-bottom: 4vw;
    }

    #tagButton {
        // margin: 2vw auto;
        display: none;
    }
}

@media only screen and (min-width: map-get($breakPoints, md)) {

    main {
        h1 {
            font-size: $ipadH1;
        }
    }

    form {
        input[type="submit"]  {
            font-size: $ipadP;
        }
        fieldset {
            input, input[type="text"], textarea, select, label, input[type="button"]  {
                font-size: $ipadP;
            }

            p {
                font-size: $ipadP*1.5;
                padding: 0.8vw 0 0.8vw 1vw;
            }
        
            .bars, .remove {
                width: $ipadP*1.5;
                height: $ipadP*1.5;
                padding: 1vw 1vw;
            }

            img {
                width: $ipadP*5;
            }

            .imgStep {
                width: $ipadP*3;
            }
        }
    }
}

@media only screen and (min-width: map-get($breakPoints, lg)) {

    main {
        h1 {
            font-size: $pcH1;
        }
    }

    form {
        input[type="submit"]  {
            font-size: $pcP;
        }
        fieldset {
            input, input[type="text"], textarea, select, label, input[type="button"] {
                font-size: $pcP;
            }

            p {
                font-size: $pcP*1.5;
                padding: 0.8vw 0 0.8vw 1vw;
            }
        
            .bars, .remove {
                width: $pcP*1.5;
                height: $pcP*1.5;
                padding: 1.2vw 1vw;
            }

            img {
                width: $pcP*5;
            }
            .imgStep {
                width: $pcP*3;
            }
        }
    }

}

@media only screen and (min-width: map-get($breakPoints, xl)) {

    main {
        h1 {
            font-size: $dskH1;
        }
    }

    form {
        input[type="submit"]  {
            font-size: $dskP;
        }
        fieldset {
    
            input, input[type="text"], textarea, select, label, input[type="button"] {
                font-size: $dskP;
            }

            p {
                font-size: $dskP*1.5;
                padding: 0.5vw 0 0.5vw 1vw;
            }
        
            .bars, .remove {
                width: $dskP*1.5;
                height: $dskP*1.5;
                padding: 0.7vw 1vw;
            }

            img {
                width: $dskP*5;
            }
            .imgStep {
                width: $dskP*3;
            }
        }
    }
}
