@import "style";


main {
    font-family: $paragraphFont;
    max-width: 500px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}

form {
    position: relative;
    // align-items: center;

    input, textarea, select {
        font-size: $iphoneP;
    }

    select {
        margin-bottom: 1vw;
    }

    label {
        font-size: $iphoneP;
        font-weight: 900;
    }

    fieldset:nth-child(2) {
        input:first-child, textarea {
            width: 100%;
            margin-bottom: 1vw;
        }
        div {
            display: grid;
            grid-area: "label input";
        }
    }

    fieldset {
        padding: 1.5rem;
        margin-bottom: 1rem;

        img {
            width: 6vw;
            height: auto;
            display: block;
            margin:auto;
        }
    
        #fileUpload {
            display: none;
        }

        .ingredient, .utensil, .step {
            border: solid 0.1vw;
            display: flex;
            margin-bottom: 1vw;
            input {
                border: none;
                width: 100%;
            }
        }
        .step label:first-child {
            padding: 1vw;
        }
        .bars {
            width: $iphoneP;
            height: $iphoneP;
            padding: 1.5vw 1vw;
        }
        .remove {
            width: $iphoneP;
            height: $iphoneP;
            padding: 1.5vw 1vw;
        }

        .removeHidden {
            display: none;
        }

    }
    input[type="button"], input[type="submit"] {
        background-color: $ctaColor;
        padding: 0.5vw 2vw;
        border: $ctaColor solid 0.1vw;
        border-radius: 0.5vw;
        cursor: pointer;
        color: $whiteSpace;
    }

    input[type="submit"] {
        display: block;
        margin:auto;
    }

    #tagButton {
        margin-top: 1vw;
    }
}