@import "style";

* {
    box-sizing: border-box;
    font-family:$paragraphFont, sans-serif;
}


// MAIN

main {
    margin-top: 4rem;
    font-family: $paragraphFont;
}

/*Typography*/
p {
    font-size: $iphoneP;
    font-weight: 300;
    }

h1 {
    font-size: $phoneH1;
    font-family: $titleFont;
}

h2 {
    font-size: $iphoneH2;
    font-family: $paragraphFont;
}

h3 {
    font-size: $iphoneH3;
    font-family: $titleFont;
}


/*Nav*/

nav {
    button {
        background-color: $ctaColor;
        width: 6vw;
        height: 2vw;
        color: $whiteSpace;
        border-style: none;
        border-radius: 0.5vw;
    }
}

/* SEARCH BAR STYLING*/

.search_wrapper {
    img {
        margin-top: 5vw;
        width: 60vw;
        height: auto;
        margin-left: 22vw;
    }

form {  
        display: flex;
        height: 18vw;
        width: 100%;
        input {
        width: 75vw;
        height: 10vw;
        margin-left: 8vw;
        font-size: $paragraphFont;
        border-radius: 1vw;
        border: solid 0.15vw $primaryColor;
        text-align: center;
        }
        a {
            background-color: $secondaryColor;
            height: 10vw;
            width: 10vw;
            border-radius: 1vw;
            margin-left: 1vw;
            padding-left: 1vw;
            img {
                padding: 1.5vw 0.5vw;
                width: 80%;
                height: auto;
                margin:0;
            }
        }
        
}
button {
    width: 35vw;
    height: 9vw;
    background-color: $ctaColor;
    border: none;
    border-radius: 1vw;
    margin-bottom: 15vw;
    margin-left: 30vw;

    a {
        color: $whiteSpace;
        font-family: $iphoneP;
        text-decoration: none;
    }

}
}


/*Food Categories Styling*/

.food_categories_wrapper {
    ul {
        display: flex;
        height: 30vw;
        list-style-type: none;
        margin-left: 2vw;
        :nth-child(5){
            display: none;
        }
        
        li {
            margin-left: 10vw;
        

            img {
            width: 17vw;
            height: 17vw;
            border-radius: 50%;
            
            }
        }
    }
}

.food_categories_wrapper div {
    border-radius: 50%;
    height: 10vw;
width: 10vw;
    button {
        width: 12vw;
        height: 4vw;
        margin-left: 2.2vw;
        margin-top: 2vw;
        color: $textColor;
        background-color: $secondaryColor;
        border: $secondaryColor solid;
        font-size: $ipadP;
        border-radius: 0.4vw;
    }
}
/*ADS*/

section.advert2 {
    img {
    height: 10vw;
    width: 60%;
    margin-left: 20vw;
    }
}

/*Top Recipes*/

.top_recipes_wrapper{
background-color: $fillColor;
height: auto;
width: 100%;
padding: 2vw;
align-items: center;
    h1 {
        width: 80%;
        margin-top:2rem;
        margin-bottom: 2rem;
        margin-left: 5vw;
        text-align: center;
        font-family: $titleFont;

    }
    
    img {
        text-align: center;
        width:100%;
    }

    ul.container {
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
    gap: 4vw;
    width: 80%;
        li:nth-child(3){
            padding-bottom:1rem; 
        }
        >li {
            background-color: $whiteSpace;
            width: 100%;
        margin-top:1rem;
        list-style-type:none;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        overflow: hidden;
        }
    }
    h3{
        margin:0.5rem 0rem;
        font-weight: 600;
    }
}

div.recipeDetails{
    text-align:left;
    font-weight: 300;
    padding-left:1.5rem;
    div.buttonContainer{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-top:2rem;
    }
}

div.recipeDetails p{
    margin-top:0.5rem;
    color:$secondaryColor;
    font-size: $iphoneP;
}

ul.descripDetails {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;

    li {
        display:flex;
        align-items: center;
        padding-right:.5rem;
        margin-bottom:1rem;
    }

    li img{
        width:2.5rem;
        height:2.5rem;
        padding-right:0.5rem;
    }

    li:nth-child(2) {
        margin-right:2rem;
    }
}

ul.container div.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;
}


/*ARTICLE WRAPPER SECTION*/

.article_wrapper {
    height: auto;
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    h1{
        width: 80%;
        margin-left: 9vw;
        font-family: $titleFont;
    }
    img {
        height: auto;
        width: 100%;
        margin-top: 5vw;
    }
}

.blog_section {
    height: auto;
    margin-left: 12vw;
    width: 80%;
    article {
        border-bottom: solid $ctaColor 0.3vw;
        margin-top: 3vw;
        ul {
            list-style-type: none;
        }
        li {
            margin-bottom: 1vw;
            img{
                width: 68vw;
                height: 50vw;
            }

        }
    }
}

.article_intro {
    margin-top: 3vw;
    h3 {
        margin-bottom: 2vw;
    }
    margin-right: 5vw;
    p {
        margin-bottom: 1.5vw;
        margin-top: 3vw;
    }
    button {
        background-color: $ctaColor;
        width: 25vw;
        height: 6vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
        border-radius: 1vw;
        border-style: none;
        color: $whiteSpace;
        font-weight: 400;
    }

}

/*CHEF WRAPPER SECTION*/

.chef_wrapper {
    height: auto;
    width: 80%;
    margin-top: 13vw;
    margin-left: 6vw;
    align-self: center;
    
    h1 {
        text-align: center;
        font-family: $titleFont;

    }
    ul {
        margin-top: 5vw;
        height: auto;
        list-style-type: none;
        margin-left: 3vw;
        
        li {
            margin-left: 6vw;
            margin-bottom: 7vw;

            :nth-child(2){
                color: $secondaryColor;
            }
            img {
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            margin-bottom: 1.5vw;
            -webkit-box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.78); 
            box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.78);
            }
        }
    }
}

/*CTA WRAPPER*/

.sign_up_wrapper {
    background-color: $secondaryColor;
    height: 45vw;
    width: 90%;
    margin-left: 5vw;
    margin-bottom: 10vw;
    border-radius: 2vw; 
    text-align: center; 
    padding: 3vw;
    h1 {
        line-height: 10vw;
        font-size: $iphoneH2;
        font-family: $titleFont;
        color: $whiteSpace;
    }
    p {
        line-height: 6vw;
        padding: 2vw;
        margin-bottom: 1vw;

    }
    a {
        background-color: $primaryColor;
        color: $whiteSpace;
        padding: 1vw 3vw;
        text-decoration: none;
        font-family: $titleFont;
        border-radius: 1vw;
    }
}



//IPAD

@media only screen and (min-width: map-get($breakPoints, md)) {
// MAIN

/*Typography*/
p {
    font-size: $ipadP;
    font-weight: 300;
    }

h1 {
    font-size: $ipadH1;
    font-family: $titleFont;
}

h2 {
    font-size: $ipadH2;
    font-family: $paragraphFont;
}

h3 {
    font-size: $ipadH3;
    font-family: $titleFont;
}


/*Nav*/

nav {
    button {
        background-color: $ctaColor;
        width: 10vw;
        height: 4vw;
        border-style: none;
        border-radius: 0.6vw;
        a {
            color: $whiteSpace;
        }
    }
}

/* SEARCH BAR STYLING*/

.search_wrapper {
    img {
        margin-top: 5vw;
        width: 60vw;
        height: auto;
        margin-left: 22vw;
    }

form {  
        display: flex;
        height: 18vw;
        width: 100%;
        input {
        width: 75vw;
        height: 10vw;
        margin-left: 8vw;
        font-size: $paragraphFont;
        border-radius: 1vw;
        text-align: center;
        }
        a {
            height: 10vw;
            width: 10vw;
            border-radius: 1vw;
            margin-left: 1vw;
            padding-left: 1vw;
            img {
                padding: 1.5vw 0.5vw;
                width: 80%;
                height: auto;
                margin:0;
            }
        }
        
}
button {
    display: none;

}
}

/*Food Categories Styling*/

.food_categories_wrapper {
    ul {
        display: flex;
        height: 30vw;
        list-style-type: none;
        margin-left: 2vw;
        :nth-child(5){
            display: none;
        }
        
        li {
            margin-right: 7vw;
        

            img {
            width: 17vw;
            height: 17vw;
            border-radius: 50%;
            
            }
        }
    }
}

.food_categories_wrapper div {
    border-radius: 50%;
    height: 10vw;
width: 10vw;
    button {
        width: 12vw;
        height: 4vw;
        margin-left: 2.4vw;
        margin-top: 2vw;
        border: $secondaryColor solid;
        font-size: $ipadP;
        border-radius: 0.4vw;
    }
}
/*ADS*/

section.advert2 {
    img {
    height: 12vw;
    width: 70%;
    margin-left: 16vw;
    }
}

/*Top Recipes*/

.top_recipes_wrapper{
height: auto;
width: 100%;
padding: 2vw;
    h1 {
        width: 80%;
        margin-top:2rem;
        margin-bottom: 2rem;
        margin-left: 9vw;
        text-align: center;
        font-family: $titleFont;

    }
    
    img {
        text-align: center;
        width:100%;
    }

    ul.container {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    margin-left: 6vw;
    margin-bottom: 6vw;
    gap: 4vw;
    width: 80%;
        li:nth-child(3){
            padding-bottom:1rem; 
        }
        >li {
        background-color: $whiteSpace;
        width: 100%;
        margin-top:1rem;
        list-style-type:none;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        overflow: hidden;
        }
    }
    h3{
        margin:0.5rem 0rem;
        font-weight: 600;
    }
}

div.recipeDetails{
    text-align:left;
    font-weight: 300;
    padding-left:1.5rem;
    div.buttonContainer{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-top:2rem;
    }
}

div.recipeDetails p{
    margin-top:0.5rem;
    color:$secondaryColor;
    font-size: $iphoneP;
}

ul.descripDetails {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;

    li {
        display:flex;
        align-items: center;
        padding-right:.5rem;
        margin-bottom:1rem;
    }

    li img{
        width:2.5rem;
        height:2.5rem;
        padding-right:0.5rem;
    }

    li:nth-child(2) {
        margin-right:2rem;
    }
}

ul.container div.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;
}


/*ARTICLE WRAPPER SECTION*/

.article_wrapper {
    height: auto;
    width: 100%;
    margin-top: 5vw;
    h1{
        text-align: center;
        width: 80%;
        margin-left: 10vw;
        font-family: $titleFont;
    }
    img {
        height: auto;
        width: 100%;
        margin-top: 5vw;
    }
}

.blog_section {
    height: auto;
    margin-left: 12vw;
    width: 80%;
    display: block;
    article {
        border-bottom: solid $ctaColor 0.3vw;
        margin-top: 3vw;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: baseline;
        }
        li {
            margin-bottom: 0;
            img{
                width: 25vw;
                height: 20vw;
                margin-bottom: 2vw;
    
            }

        }
    }
}

.article_intro {
    margin-top: 3vw;
    h3 {
        margin-bottom: 2vw;
    }
    margin-right: 5vw;
    p {
        margin-bottom: 1.5vw;
        margin-top: 3vw;
    }
    button {
        background-color: $ctaColor;
        width: 25vw;
        height: 6vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
        border-radius: 1vw;
        border-style: none;
        color: $whiteSpace;
        font-weight: 400;
    }

}

/*CHEF WRAPPER SECTION*/

.chef_wrapper {
    height: auto;
    width: 100%;
    margin-top: 13vw;
    margin-left: 0vw;
    align-self: center;
    
    h1 {
        text-align: center;
        font-family: $titleFont;

    }
    ul {
        margin-top: 5vw;
        margin-left: 1vw;
        margin-right: 2vw;
        height: auto;
        list-style-type: none;
        
        li {
            margin-left: 6vw;
            margin-bottom: 7vw;

            :nth-child(2){
                color: $secondaryColor;
            }
            img {
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            margin-bottom: 1.5vw;
            -webkit-box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.78); 
            box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.78);
            }
        }
    }
}

/*CTA WRAPPER*/

.sign_up_wrapper {
    background-color: $secondaryColor;
    height: 30vw;
    width: 90%;
    margin-left: 5vw;
    margin-bottom: 10vw;
    border-radius: 2vw; 
    text-align: center; 
    padding: 2.5vw;
    h1 {
        line-height: 7vw;
        font-size: $iphoneH2;
        font-family: $titleFont;
        color: $whiteSpace;
    }
    p {
        line-height: 3vw;
        padding: 2vw;
        margin-bottom: 3vw;

    }
    a {
        background-color: $primaryColor;
        color: $whiteSpace;
        padding: 2vw 6vw;
        text-decoration: none;
        font-family: $titleFont;
        border-radius: 1vw;
    }
}

}

//PERSONAL COMPUTER

@media only screen and (min-width: map-get($breakPoints, lg)) {
    /*Typography*/
p {
    font-size: $pcP;
    font-weight: 300;
    }

h1 {
    font-size: $pcH1;
    font-family: $titleFont;
}

h2 {
    font-size: $pcH2;
    font-family: $paragraphFont;
}

h3 {
    font-size: $pcH3;
    font-family: $titleFont;
}
    /*Nav*/
nav {
    button {
        background-color: $ctaColor;
        width: 6vw;
        height: 2vw;
        color: $whiteSpace;
        border-style: none;
        border-radius: 0.5vw;
    }
}


/* SEARCH BAR STYLING*/

.search_wrapper {
    height: 32vw;
    img {
        margin-top: 5vw;
        width: 30vw;
        height: auto;
        margin-left: 37vw;
    }

form {
        height: 15vw;
        width: 100%;
        input {
        width: 35vw;
        height: 4.5vw;
        margin-left: 32vw;
        font-size: large;
        border-radius: 1vw;
        border: solid 0.15vw $primaryColor;
        text-align: center;
        }
        a {
            background-color: $secondaryColor;
            height: 4.5vw;
            width: 4.5vw;
            border-radius: 1vw;
            margin-left: 1vw;
            padding-left: 1vw;
            img {
                padding: 0.9vw 0vw;
                width: 80%;
                height: auto;
                margin:0;
            }
        }
}
}


/*Food Categories Styling*/

.food_categories_wrapper {
    height: auto;
    ul {
        margin-left: 8vw;
        height: 25vw;
        
        li {
            margin-left: 1vw;

            img {
            width: 13vw;
            height: 13vw;
            border-radius: 50%;
            }
        }
    }
}

.food_categories_wrapper div {
    border-radius: 50%;
    height: 10vw;
width: 10vw;
    button {
        width: 8vw;
        height: 2vw;
        margin-left: 2.5vw;
        margin-top: 1vw;
        color: $textColor;
        font-size: $dskP;
        background-color: $secondaryColor;
        border: $secondaryColor solid;
        border-radius: 0.4vw;
    }
}
/*ADS*/

section.advert2 {
    img {
    height: 12vw;
    width: 60%;
    margin-left: 20vw;
    }
}

/*Top Recipes*/

.top_recipes_wrapper{
background-color: $fillColor;
height: 40vw;
padding: 2vw;
align-items: center;
    h1 {
        margin-top:2rem;
        margin-bottom: 2rem;
        text-align: center;
        font-family: $titleFont;

    }
    
    img {
        text-align: center;
        width:100%;
    }
    ul.container {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    margin-left: 2.5vw;
    gap: 4vw;
    width: 20%;
        li:nth-child(3){
            padding-bottom:1rem; 
        }
        >li {
            background-color: $whiteSpace;
            width: 100%;
        margin-top:1rem;
        list-style-type:none;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        overflow: hidden;
        }
    }
    h3{
        margin:1rem 0rem;
    }
}

div.recipeDetails{
    text-align:left;
    padding-left:1.5rem;
    div.buttonContainer{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-top:2rem;
    }
}

div.recipeDetails p{
    margin-top:0.5rem;
    color:$secondaryColor;
    font-size: $pcP;
}

ul.descripDetails {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;

    li {
        display:flex;
        align-items: center;
        padding-right:.5rem;
        margin-bottom:1rem;
    }

    li img{
        width:2.5rem;
        height:2.5rem;
        padding-right:0.5rem;
    }

    li:nth-child(2) {
        margin-right:2rem;
    }
}

ul.container div.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;
}


/*ARTICLE WRAPPER SECTION*/

.article_wrapper {
    height: auto;
    width: 100%;
    margin: 3vw 0vw 3vw 0vw;
    text-align: center;
    h1{
        font-size: $pcH1;
        margin-left: 10vw;
    }
    img {
        height: 30vw;
        width: auto;
        margin-top: 3vw;
    }
}

.blog_section {
    height: 30vw;
    margin-left: 22vw;
    width: 56vw;
    display: flex;
    article {
        margin-top: 0vw;
        border-bottom: solid $ctaColor 0vw;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }
        li {
            img{
                width: 18vw;
                height: 12vw;
            }

        }
    }
}

.article_intro {
    margin-top: 3vw;
    h3 {
        margin-bottom: none;
    }
    margin-right: 5vw;
    p {
        margin-bottom: 1.5vw;
        margin-top: 2vw;
        font-size: $dskP;
    }
    button {
        background-color: $ctaColor;
        width: 10vw;
        height: 3vw;
        border-radius: 0.3vw;
        border-style: none;
        color: $whiteSpace;
        font-weight: 400;
    }
}

/*CHEF WRAPPER SECTION*/

.chef_wrapper {
    height: auto;
    width: 80%;
    margin-top: 23vw;
    margin-left: 5vw;
    align-self: center;
    
    h1 {
        margin-top:2rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: $pcH1;

    }
    ul {
        margin-top: 5vw;
        display: flex;
        height: 20vw;
        list-style-type: none;
        margin-left: 7vw;
        
        li {
            margin-left: 6vw;

            :nth-child(2){
                color: $secondaryColor;
            }
            img {
            width: 12vw;
            height: 12vw;
            border-radius: 50%;
            margin-bottom: 1.5vw;
            -webkit-box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.78); 
            box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.78);
            }
        }
    }
}

/*CTA WRAPPER*/

.sign_up_wrapper {
    background-color: $secondaryColor;
    height: 18vw;
    width: 80%;
    margin-top: 10vw;
    margin-left: 10vw;
    margin-bottom: 10vw;
    border-radius: 2vw; 
    text-align: center; 
    padding: 0vw;

    h1 {
        color: $whiteSpace;
        font-size: $pcH1;
    }
    p {
        margin-bottom: 1vw;
        font-size: $pcP;
        padding: 0 0 1.5vw 0;

    }
    a {
        background-color: $primaryColor;
        color: $whiteSpace;
        padding: 1vw 3vw;
        text-decoration: none;
        font-family: $titleFont;
        border-radius: 0.2vw;
    }
}
}


//DESKTOP 

@media only screen and (min-width: map-get($breakPoints, xl)) {
    //Typography
    .chef_wrapper h1 {
        font-size: $dskH1;
    }

    h1 {
        font-size: $dskH1;
    }

    h2 {
        font-size: $dskH2;
    }

    h3 {
        font-size: $dskH3;
    }

    p {
        font-size: $dskP;
    }

    .sign_up_wrapper h1 {
        font-size: $dskH1;
    }

    .food_categories_wrapper ul :nth-child(5) {
        display: block;
    }

    

}

